{% extends 'AppBundle::layout.html.twig' %}

{% block title post.title %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  {{ post.perex|raw }}
  {{ post.content|raw }}

  <p>
    <a href="{{ path('post.list') }}">&laquo; Späť na zoznam</a>
  </p>
{% endblock %}