<!DOCTYPE html>
<html lang="sk">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}| Jakub Kucharovic</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
