{% extends 'layout.html.twig' %}

{% block title 'Zoznam príspevkov označených „' ~ tag.title ~ '“' %}

{% block body %}
  <h1>{{ block('title') }}</h1>
  {% include 'blog/article_list.html.twig' with posts %}
{% endblock %}